.takeQuizMainFrame{
    background-color: transparent;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
  
  }
  .takeQuizMainBody{
    height: 800px;
    width: 1302px;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .instructionBox{
    background-color: azure;
    height: 320px;
    width: 770px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid whitesmoke;
    border-radius: 30px;
    color: lightblue;
    display: flex;
    align-items: center; /* Up & Down*/
    justify-content: center; /* left & right*/
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
  }

  .line1{
    height: 2px;
    width: 1302px;
    background-color: gainsboro;
    margin: auto;
    margin-top: 50px;
    display: flex;
  }
  
  .enterNameBox{
    height: 60px;
    width: 450px;
    background-color: aliceblue;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    border: 8px solid lightblue;
    display: flex;
  }

  .line2{
    height: 2px;
    width: 1302px;
    background-color: gainsboro;
    margin: auto;
    margin-top: 20px;
  }

  .topic{
    margin: auto;
  }

  .topicBtn{
    height: 120px;
    width: 450px;
    background-color: rgb(169,209,142);
    border: 15px solid rgb(112,173,71);
    color: rgb(84,130,53);
    font-size: 40px;
    font-weight: bold;
    border-radius: 15px;
    margin: auto;
    margin-top: 0px;
  }
 
  .topicBtn:hover{
    background-color: rgb(226,240,217);
    border: 15px solid rgb(197,224,180);
    color: rgb(169,209,142);
    transition: all 0.5s ease-in-out;
  }
